{:paths ["gen-example/src" "gen-example/resources"]

 :deps {;; Routing
        metosin/reitit                  {:mvn/version "0.6.0"}
        
        ;; Ring
        metosin/ring-http-response      {:mvn/version "0.9.3"}
        ring/ring-core                  {:mvn/version "1.10.0"}
        ring/ring-defaults              {:mvn/version "0.3.3"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}}
